/* flex start */
.flex {
  display: flex;
  width: 100%;
  margin: 30px auto 0 auto;
  border: 5px solid red;
}

.flex.flex-wrap {
  flex-wrap: wrap;
}

.flex.flex-justify-flex-start {
  justify-content: flex-start;
}

.flex.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex.flex-justify-center {
  justify-content: center;
}

.flex.flex-justify-space-between {
  justify-content: space-between;
}

.flex.flex-justify-space-around {
  justify-content: space-around;
}

.flex.flex-alignItems-flex-start {
  align-items: flex-start;
}

.flex.flex-alignItems-flex-end {
  align-items: flex-end;
}

.flex.flex-alignItems-center {
  align-items: center;
}

.flex.flex-alignItems-baseline {
  align-items: baseline;
}

.flex.flex-alignItems-stretch {
  align-items: stretch;
}
/* flex end */

/* flex-item start */
.flex-item {
  text-align: center;
  word-break: break-all
}

.flex-item.border-r-red {
  border-right: 1px solid red;
}

.flex-item.flex-grow-1 {
  flex-grow: 1;
}

.flex-item.flex-grow-2 {
  flex-grow: 2;
}

.flex-item.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-item.flex-shrink-2 {
  flex-shrink: 2;
}

.flex-item.flex-shrink-3 {
  flex-shrink: 3;
}

.flex-item.flex-basis-16-per {
  flex-basis: 16%;
}

.flex-item.flex-basis-20-per {
  flex-basis: 20%;
}

.flex-item.flex-basis-25-per {
  flex-basis: 25%;
}

.flex-item.flex-basis-50-per {
  flex-basis: 50%;
}

.flex-item.flex-basis-33-per {
  flex-basis: 33%;
}

.flex-item.order-1 {
  order: 1;
}

.flex-item.order-2 {
  order: 2;
}

.flex-item.order-3 {
  order: 3;
}

.flex-item.alignSelf-flex-end {
  align-self: flex-end;
}
/* flex-item end */
